<main id="wrapper" class="login_bg-img">
  <div class="container login">
    <div class="row">
      <div class="section-title text-center">
        <h3>Change your password?</h3><hr>
      </div>
      <div class="col-xs-8 col-xs-offset-2 col-sm-5 col-sm-offset-4">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'form' }) do |f| %>
          <%= devise_error_messages! %>
          <%= f.hidden_field :reset_password_token %>

          <div class="form-group <%= 'has-error' if resource_has_error?(resource, :password) %>">
            <%= f.label :password, "New password" %><br />
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em><br />
            <% end %>
            <%= f.password_field :password, autofocus: true, class: 'form-control' %>
            <% if resource_has_error?(resource, :password) %>
              <small class="help-block">
                <%= get_resource_error(resource, :password) %>
              </small>
            <% end %>
          </div>

          <div class="form-group <%= 'has-error' if resource_has_error?(resource, :password_confirmation) %>">
            <%= f.label :password_confirmation, "Confirm new password" %><br />
            <%= f.password_field :password_confirmation, class: 'form-control' %>
            <% if resource_has_error?(resource, :password_confirmation) %>
              <small class="help-block">
                <%= get_resource_error(resource, :password_confirmation) %>
              </small>
            <% end %>
          </div>

          <div class="form-group">
            <%= f.submit "Change my password", class: 'btn btn-green' %>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</main>