<main id="wrapper">
  <div class="container">
    <div class="row">
      <%= render 'shared/sidebar' %>

      <div class="col-sm-9">      	
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Create a new Listing</h4>
          </div>

          <div class="panel-body">
          	<%= form_for @property, html: {class: 'form'} do |f| %>
							<div class="row">
								<div class="col-sm-12">
									<div class="form-group">
										<%= f.label :title, 'Listing Title' %>
										<%= f.text_field :title, class: 'form-control', placeholder: 'Enter listing title...', required: true %>
									</div>
								</div>
							</div>
							<div class="form-group">
								<%= f.submit 'Create New Listing', class: 'btn btn-green' %>
							</div>
          	<% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>