<main id="wrapper">
  <div class="container">
    <div class="row">
      <%= render 'shared/sidebar' %>

      <div class="col-sm-9">
      	<%= render 'shared/new_property_menu' %>
      	
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Upload Property Photos</h4>
          </div>

          <div class="panel-body">
            <div class="col-sm-6 col-sm-offset-3">
        			<%= form_for @property, html: {multipart: true} do |f| %>
                  <div class="form-group">
                    <span class="btn btn-default btn-file">
                      <i class="fa fa-cloud-upload" aria-hidden="true"></i> Select Photos
                      <%= f.file_field "photos", multiple: true %>
                    </span>
                  </div>
                  <div class="text-center">
                    <%= f.submit "Add Photos", class: "btn btn-green" %>
                  </div>
              <% end %>
            </div>
          </div>

          <div class="panel-footer">
            <div id="photos"><%= render 'photos/photos_list' %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>