<div class="new_property_menu">
	<ol class="breadcrumb">
		<li><%= link_to "Listing", listing_property_path, class: 'active' %></li>
	  <li><%= link_to "Description", description_property_path, class: 'active' %></li>
	  <li><%= link_to "Address", address_property_path, class: 'active' %></li>
	  <li><%= link_to "Price", pricing_property_path, class: 'active' %></li>
	  <li><%= link_to "Photo Upload", photo_upload_property_path, class: 'active' %></li>
	  <li><%= link_to "Amenities", amenities_property_path, class: 'active' %></li>
	</ol>
</div>