<main id="wrapper" class="login_bg-img">
  <div class="container login">
    <div class="row">
      <div class="section-title text-center">
        <h3>Login</h3><hr>
      </div>
      <div class="col-xs-6 col-xs-offset-3">
        <%= form_for resource, as: resource_name, url: session_path(resource_name), html: {class: 'form'} do |f| %>  
          <div class="form-group">
            <%= f.label :email do %>
              Email <small>(required)</small>
            <% end %>
            <%= f.email_field :email, class: 'form-control', placeholder: 'Enter Email' %>
          </div>

          <div class="form-group">
            <%= f.label :password do %>
              Password <small>(required)</small>
            <% end %>
            <%= f.password_field :password, class: 'form-control', placeholder: "Enter Password" %>
          </div><br>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>

          <div class="form-group">
            <%= f.submit "Log in", class: "btn btn-danger btn-block" %>
          </div>

          <a href="#" style="color: #fff;">Forgot Password?</a>
        <% end %>
      </div>
    </div>
  </div>
</main>
