<main id="wrapper">
  <div class="container">
    <div class="row">
      <%= render 'shared/sidebar' %>

      <div class="col-sm-9">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Manage Employees
              <span class="pull-right">
                <%= link_to new_user_invitation_path do %>
                  <i class="fa fa-plus"></i></span>
                <% end %>
            </h4>
          </div>

          <div class="panel-body table-responsive">
            <table class="table table-bordered table-striped customTable">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Occupation</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <% @users.each do |user, i| %>
                  <tr>
                    <td><%= user.id %></td>
                    <td><%= user.fullname %></td>
                    <td><%= user.email %></td>
                    <td><%= user.phone %></td>
                    <td><%= user.job %></td>
                    <td>
                      <a href="listing.html"><i class="fa fa-eye"></i></a>
                      <a href="listing.html"><i class="fa fa-close"></i></a>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>